
<ion-header >
  <ion-toolbar color="secondry"> 
    <ion-row class="n-head">
    <ion-col size="2" >
      <ion-buttons>  
        <ion-menu-button></ion-menu-button>   
      </ion-buttons>
     
    </ion-col>
    <ion-col size="8" class="title-toolbar">
      <ion-title>الاشعارات </ion-title> 
    </ion-col>
    <ion-col size="2">
      <ion-icon name="arrow-forward" class="back" routerLink="/tabs/tab4" routerDirection="root"></ion-icon>
    </ion-col>
    </ion-row> 
</ion-toolbar> 
</ion-header>
<!-- End Header  -->

<!-- Body -->
<ion-content>
  <!-- Notification Card  -->
  <ion-card>
    <ion-card-header>
      <img src="assets/Photo/logo-100.png" />
      <ion-card-title> تم استلام الحجز </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
مرحبا بك مع خدماتي قمنا باستلام حجزك ونعمل على البدء في اسرع وقت ممكن يمكنك متابعة سير الاعمال من خلال التتبع في قائمة الحجوزات
    </ion-card-content>
  </ion-card>

  <!-- Notification Card  -->
</ion-content>
