
<ion-header >
  <ion-toolbar color="secondry"> 
    <ion-row class="n-head">
    <ion-col size="2" >
      <ion-buttons>  
        <ion-menu-button></ion-menu-button>   
      </ion-buttons>
     
    </ion-col>
    <ion-col size="8" class="title-toolbar">
      <ion-title>معلومات عنا</ion-title> 
    </ion-col>
    <ion-col size="2">
      <ion-icon name="arrow-forward" class="back" routerLink="/tabs" routerDirection="root"></ion-icon>
    </ion-col>
    </ion-row> 
</ion-toolbar> 
</ion-header>
<!-- End Header  -->
<!-- Body -->
<ion-content>

  <!-- About Header  -->
  <ion-card>
    <ion-card-header>
      <img src="assets/Photo/logo-100.png" />
      <ion-card-title> شركة خدماتي لاعمال التنظيف والغسيل  </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-row>
        <ion-col size="12" > 
       <p> مرحبا بك مع خدماتي قمنا باستلام حجزك ونعمل على البدء في اسرع وقت ممكن يمكنك متابعة سير الاعمال من خلال التتبع في قائمة الحجوزات</p>
        </ion-col> 

  <!--End  About Header  -->

    <!-- About Contact info  -->
        <ion-grid class="contact">
          <ion-row>
            <ion-col size="6" > 
              <ion-icon name="home" class="Address" ></ion-icon>
               <ion-lable> العنوان </ion-lable>
            </ion-col> 
            <ion-col size="6"> 
              <ion-lable> اسطنبول / تركيا  </ion-lable>
              </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6"> 
              <ion-icon name="phone-portrait" class="phone"></ion-icon>
          <ion-lable> رقم الهاتف </ion-lable>
            </ion-col> 
            <ion-col size="6"  > 
              <ion-lable> 000000000 </ion-lable>
              </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" > 
              <ion-icon name="mail" class="mail"></ion-icon>
          <ion-lable> البريد الالكتروني </ion-lable>
            </ion-col> 
            <ion-col size="6" > 
              <ion-lable> info@khadamati.com </ion-lable>
              </ion-col>
          </ion-row>
        </ion-grid>
     <!-- End  About Contact info  -->
      </ion-row>
      <!-- About Social info  -->
      <ion-row class="social">
           <ion-col size="12" class="follow" > 
          <h4> تابعنا عبر السوشال ميديا</h4>
           </ion-col>
        <ion-col size="3" class="follow" > 
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-col> 
        <ion-col size="3" class="follow" > 
          <ion-icon name="logo-instagram"></ion-icon>
        </ion-col> 
          <ion-col size="3" class="follow"> 
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-col>
        <ion-col size="3" class="follow"> 
          <ion-icon name="logo-youtube"></ion-icon>
        </ion-col>
    </ion-row>
    <!-- End  About Social info  -->
    </ion-card-content>
  </ion-card>
</ion-content>
