
<ion-header >
  <ion-toolbar color="secondry"> 
    <ion-row class="n-head">
    <ion-col size="2" >
      <ion-buttons>  
        <ion-menu-button></ion-menu-button>   
      </ion-buttons>
     
    </ion-col>
    <ion-col size="8" class="title-toolbar">
      <ion-title>الحجوزات </ion-title> 
    </ion-col>
    <ion-col size="2" routerLink="/tabs/tab3" routerDirection="root">
      <ion-icon name="arrow-forward" class="back" ></ion-icon>
    </ion-col>
    </ion-row> 
</ion-toolbar> 
</ion-header>
<!-- End Header  -->

<ion-content >

  <section>
    <ion-grid class="sevices">
    <ion-row>

      <!--  service inner card -->
      <ion-col size="12" >
        <ion-card >
          <ion-card-content>
            <ion-list lines="none"> 
            <ion-item>
              <ion-lable class="booking-titlle"> تفاصيل الحجز</ion-lable>
            </ion-item>
            <ion-item>
              <ion-lable class="booking-detiles"> #2245344 </ion-lable>
            </ion-item>
            <ion-item>
              <ion-lable class="date-detiles"> 01/01/2000 </ion-lable>
            </ion-item>
            <ion-item>
              <ion-lable class="adress-detiles"> اسطنبول / تركيا</ion-lable>
            </ion-item>
            </ion-list>
            <!-- Renew service inner Button -->
            <ion-button  routerLink="/service" routerDirection="root" >
             تجديد الحجز
            </ion-button>
            <!-- veiw service inner Button -->
            <ion-button  routerLink="/service" routerDirection="root" >
              استعراض
            </ion-button>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    </ion-grid>
  </section>


</ion-content>
