
ion-tab-bar {
    padding-top: 3%;
    padding-bottom: 3%;
     border-top: none;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;
     
}

.ion-tab-button {
    font-weight: bold!important;
}

.tab-selected {
	color: #2ab77d;
}