
<ion-header >
  <ion-toolbar color="secondry"> 
    <ion-row class="n-head">
    <ion-col size="2" >
      <ion-buttons>  
        <ion-menu-button></ion-menu-button>   
      </ion-buttons>
     
    </ion-col>
    <ion-col size="8" class="title-toolbar">
      <ion-title>النجاح</ion-title>  
    </ion-col>
    <ion-col size="2">
      <ion-icon name="arrow-forward" class="back" routerLink="/service" routerDirection="root"></ion-icon>
    </ion-col>
    </ion-row> 
</ion-toolbar> 
</ion-header>
<!-- End Header  -->
<!-- End Header  -->

<!-- Body -->

<ion-content >
  <section class="product">
       <!-- Book Title-->
    <ion-card>
       <ion-card-content>
        <ion-row>
          <ion-col size="12">
            <ion-icon name="checkmark-circle" class="check"></ion-icon>
              <h2 class="procc-title"> تم الحجز بنجاح </h2>
              <p>
                الآن يمكنك تتبع الحجز الخاص بك أو
                العودة إلى الشاشة الرئيسية
              </p>

              <img class="logo" src="assets/Photo/logo.png" />
           </ion-col>

             <!-- Home Button -->
           <ion-col size="6">
             <ion-button  expand="block" class="go-home" routerLink="/tabs" routerDirection="root" >
              الرئيسية
              </ion-button>
          </ion-col>

          <!-- tracking Button -->
          <ion-col size="6">
            <ion-button  expand="block" class="tracking" routerLink="/processing" routerDirection="root" >
              التتبع
            </ion-button>

          </ion-col>         
         </ion-row>
    </ion-card-content>
  
  </ion-card>
  
           <!-- Book Detile-->
  

    
   
  
  </section>




</ion-content>

