
/** Header **/
.ion-toolbar {
    border: none;
 }
 
 .n-head {
     display: flex;
     align-items: center;
 }
 
 
 ion-menu-button{
     --color:white !important;
      color:white !important;
      font-size: 50px;
   }
 
 .logo-head {
     float: left;
     width: 50px;
    
 }
 
 ion-header {
     background-color: #2ab77d;
     border-bottom-left-radius: 21px;
     border-bottom-right-radius: 21px;
     padding-top: 2%;
     padding-bottom: 2%;
     backdrop-filter: noneImportant;
 }
 
 .header-background {
 
     backdrop-filter: drop-shadow(2px 2px 6px black);
  }

  .header-md::after {

    background-image: none!important;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
}

 /** Service Block **/
 .s-icon {
     font-size: 60px;
     text-align: center;
     color: #1d5f7a;
     padding: 2% 2%;
 }

 ion-card {
     border-radius: 20px;
     border-style: solid;
     border-color: #2cae70;
     border-top-left-radius: 0px;
 }

 ion-card-content {
    display: grid;
    position: relative;
    align-items: center;
    text-align: center;
    justify-items: center;
}


