<!--  
<ion-header>
  <ion-toolbar>
    <ion-title>Forget-password</ion-title>
  </ion-toolbar>
</ion-header>
-->

<!---  Form  header -->
<ion-content class="bag-forget">
  <section class = "logos-container">
    <div class="row logos">
      <div class="col-4">
      </div>
      <div class="col-4 tittle">
        <img src="assets/Photo/logo-100.png" />
        <h1>اعادة تعيين كلمة المرور</h1>
        <p> الرجاء إدخال رقمك. سنرسل رمزًا إلى هاتفك <br><br> لإعادة تعيين كلمة المرور الخاصة بك.</p>
      </div>
      <div class="col-4">
      </div>
    </div>
<!--- End Form  header -->

<!---  Form  -->
    <ion-row class="Forget-form">
      <ion-col>
        <ion-list >
          <ion-item>
            <ion-label slot="end">
              <ion-icon name="phone-portrait-outline"></ion-icon>
            </ion-label>
            <ion-input
              [(ngModel)]="PhoneNumber"
              placeholder="رقم الهاتف"
              type="tel">
            </ion-input>
          </ion-item>
       
        </ion-list>
         <!--- send code button  -->
         <ion-col size="12">
          <ion-button expand="block" (click)="sendCode()" class="continue-button">
           ارسال رمز التحقق
          </ion-button>
        </ion-col>
    
        <!---  End save button  -->
      </ion-col>
    </ion-row>
    <!--- End Form   -->
  

<ion-content>
