.ion-content {
    padding: 6%;

}

ion-title {
    color: white;
}


/*  Form  header Title */

.logos {
    text-align: center;
    margin-top: 16%;
}


.tittle {
    margin: 6%;
}

h1 {
    color: green;
    font-size: 24px;
    font-weight: 700;
    line-height: 50px;
}


/*  Form  */
.Forget-form {
    border: #ededed;
    border-style: solid;
    border-radius: 23px 1px 10px 20px;
    margin: 6%;
}

ion-label {
    color: green!important;
}

/*  Form Feild */ 
.item-input {
    padding-bottom: 6%;
    padding-top: 6%;
    font-size: 18px;
}


/*  Button  */
.continue-button {
    align-items: center;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    margin-top: 10%;
    margin-bottom: 5%;
}



