
<ion-header >
  <ion-toolbar color="secondry"> 
    <ion-row class="n-head">
    <ion-col size="2" >
      <ion-buttons>  
        <ion-menu-button></ion-menu-button>   
      </ion-buttons>
     
    </ion-col>
    <ion-col size="8" class="title-toolbar">
      <ion-title> سياسة الخصوصية </ion-title>
    </ion-col>
    <ion-col size="2">
      <ion-icon name="arrow-forward" class="back" routerLink="/tabs" routerDirection="root"></ion-icon>
    </ion-col>
    </ion-row> 
</ion-toolbar> 
</ion-header>
<!-- End Header  -->

<!-- Body -->
<ion-content>
    <!-- policy Header  -->
  <ion-card>
    <ion-card-header>
      <img src="assets/Photo/logo-100.png" />
      <ion-card-title> شركة خدماتي لاعمال التنظيف والغسيل  </ion-card-title>
    </ion-card-header>
    <!--  End policy Header  -->

      <!-- policy text  -->
    <ion-card-content>
      <ion-row>
        <ion-col size="12" > 
       <p> مرحبا بك مع خدماتي قمنا باستلام حجزك ونعمل على البدء في اسرع وقت ممكن يمكنك متابعة سير الاعمال من خلال التتبع في قائمة الحجوزات</p>
        </ion-col>     
      </ion-row>
      <!-- End policy text  -->
      <ion-row class="copy-right">
        <ion-col size="12" class="all-right" > 
          <h4> جميع الحقوق محفوظة KHADAMATI2022</h4>
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>
</ion-content>
