/** Header Style **/
.n-head {
    display: flex;
    align-items: center;
}

 ion-title {
    color: white;
}
 
 .back {
     float: left;
     color: aliceblue;
     padding: 1%;
     font-size: 25px;
 }
 
  /** Menue Style **/
  ion-menu-button{
    --color:white !important;
     color:white !important;
     font-size: 50px;
  }

ion-header {
    background-color: #2ab77d;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.header-background {

    backdrop-filter: drop-shadow(2px 2px 6px black);
 }

 .header-md::after {

    background-image: none!important;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
}

  /** Body / Card Style **/

 ion-card {
    text-align: center;
    border-radius: 20px;
    border-style: solid;
    border-color: #eeeeee;
    border-top-left-radius: 0px;
}


  /** copy right **/
.copy-right {
    text-align: center!important;
    padding-top: 5%;

}

 .all-right {
    padding-top: 5%;
    color: #2cae70;
    text-align: center;
    font-size: 24;
 }


h4 {
    color: #2cae70;
    font-size: 18;
    font-weight: 600;
}